<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <title>区块链票房</title>


</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="/">区块链票房</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/cinemas" class="active">电影院 / Cinemas</a></li>
                <li><a href="/halls">影厅</a></li>
                <li><a href="/audience">观众</a></li>
                <li><a href="/seller">售票平台</a></li>
                <li><a href="/capital">专资办</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="padding-top: 60px">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">电影院信息 / Cinema Info</h3>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">影院名称 / Cinema Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" value="杭州西湖万达电影院">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">所属院线 / Theatre Chain</label>
                    <input type="inbox" class="form-control" id="exampleInputPassword1" value="万达电影">
                </div>
            </form>

            <a class="btn btn-primary" href="/cinema_reg" role="button">Create</a>
            <a class="btn btn-primary" href="/cinema_query" role="button">Query</a>


            <br/>


        </div>
    </div>
  {% if cinema_reg  %}
                <div class="alert alert-success" role="alert">
                    {{ cinema_reg }}

                </div>
            {% endif %}

    {% if  cinema_query %}
        <table class="table table-condensed">
            <tr>
                <td class="success">影院名称</td>
                <td class="success">{{ cinema_query.name }}</td>
            </tr>

            <tr>
                <td class="success">所属院线</td>
                <td class="success">{{ cinema_query.company }}</td>
            </tr>
        </table>

    {% endif %}


</div><!-- /.container -->

</body>

</html>
