<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <title>区块链票房</title>


</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="/">区块链票房</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/cinemas" class="active">电影院</a></li>
                <li class="active"><a href="/halls">影厅 / Movie Hall</a></li>
                <li><a href="/audience">观众</a></li>
                <li><a href="/seller">售票平台</a></li>
                <li><a href="/capital">专资办</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="padding-top: 60px">


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">影厅 / Movie Hall</h3>
        </div>

        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">影厅名称 / Movie Hall Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" value="金沙巨幕1号厅">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">所属院线 / Theatre Chain</label>
                    <input type="inbox"  class="form-control" id="exampleInputPassword1"
                           value="杭州西湖万达电影院">
                </div>
            </form>

            <a class="btn btn-primary" href="/hall_reg" role="button">New</a>
            <a name="plan_a" class="btn btn-primary" href="/hall_query" role="button">Query</a>


        </div>
    </div>

    {% if hall_reg %}
        <div class="alert alert-success" role="alert">
            {{ hall_reg }}
        </div>
    {% endif %}

    {% if  hall_query %}
        <table class="table table-condensed">
            <tr>
                <td class="success">影厅名称</td>
                <td class="success">{{ hall_query.name }}</td>
            </tr>

            <tr>
                <td class="success">所属院线</td>
                <td class="success">{{ hall_query.cinema }}</td>
            </tr>

            <tr>
                <td class="success">座位排数</td>
                <td class="success">{{ hall_query.width }}</td>
            </tr>

            <tr>
                <td class="success">每排座位</td>
                <td class="success">{{ hall_query.height }}</td>
            </tr>
        </table>

    {% endif %}



    <div class="panel panel-default" style="padding-bottom: 300px">
        <div class="panel-heading">
            <h3 class="panel-title"><a name="plan_b">排片 / Schedules</a></h3>
        </div>

        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">电影名称 / Movie Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" value="金刚狼3：殊死一战">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">影厅名称 / Movie Hall</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" value="金沙巨幕1号厅">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">播放时间 / Start Time</label>
                    <input type="inbox"  class="form-control" id="exampleInputPassword1"
                           value="2017-03-12 9:00">
                </div>
            </form>

            <a class="btn btn-primary" href="/schedule#plan_a" role="button">Schedule</a>
            <a class="btn btn-primary" href="/schedule_query#plan_a" role="button">Query</a>

            <br/>


            {% if plan %}
                <div class="alert alert-success" role="alert" style="padding: 20px; margin: 20px;">
                    {{ plan }}
                </div>
            {% endif %}

            {% if  plan_query %}
                <table class="table table-condensed">
                    <tr>
                        <td class="success">电影名称 / Movie Name</td>
                        <td class="success">{{ plan_query.movie }}</td>
                    </tr>

                    <tr>
                        <td class="success">哪家院线 / Theatre Chain Name</td>
                        <td class="success">{{ plan_query.cinema }}</td>
                    </tr>
                <tr>
                        <td class="success">哪个放映厅 / Movie Hall</td>
                        <td class="success">{{ plan_query.video_hall }}</td>
                    </tr>

                <tr>
                        <td class="success">开始时间 / Start Time</td>
                        <td class="success">{{ plan_query.start_time }}</td>
                    </tr>
                </table>

            {% endif %}


        </div>
    </div>


</div><!-- /.container -->

</body>

</html>
